/* font-family: 'Share Tech Mono', monospace; */
* {
    margin: 0px;
}
@font-face {
    font-family: marioFont;
    src: url(SuperMario256.ttf);
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}
header {
    font-family: marioFont;
    display: flex;
    align-items: center;
    justify-content: center;
    height: .40;
    color: white;
    background-color: #EB3224;
    font-size: 2em;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-around;
}
.baddies {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    line-height: 3vh;
}
.baddie-pic {
    height: 150px;
    width: 150px;
    margin: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    border: none;
    size: "12";
    font-size: 1em;
    font-family: 'Share Tech Mono';
    text-align: center;

}
.totalCaught{
    border-bottom: 2px outset grey;
    min-width: 40px;
}
.output {
    text-align: center;
}
h3 {
    font-size: 3em;
    text-align: center;
    margin-top: 10vh;
}
li{
    list-style: none;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex: .09;
    background-color: #EB3224;
    color: white;
    text-align: center;
    justify-content: center;
}
/* .address {
    float:right;
    padding-right: 15px;
    
    justify-items: inherit;
}
.weblink{
    justify-content: center;
}
.email {
    float: left;
    padding-left: 15px;
} */
/* RESPONSIVE */
/* @media screen (min-width:320px){

} */