*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
}

ul, li{
    list-style-type: none;
}

.friendList{
   margin: 2px;
   display: flex;
   flex-wrap: wrap;
}

.friend {
    border: .5px solid greenyellow;
    margin: 2px;
    padding: 20px;
    width: 48%;
    background-color: mintcream;
    border-radius: 5%;
}

.friendName{
    margin: 2px;
}

.friendAge{
    font-size: 20px;
    margin: 2px;
}

.pet {
    margin: 6px;
    border-bottom: 2px solid greenyellow;
}

.pets {
    display: flex;
    flex-direction: column;
}