*{
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
}
/* 
font-family: 'Marvel', sans-serif;
font-family: 'Nixie One', cursive;
font-family: 'Reem Kufi', sans-serif;
 */
body{
    background-color: #031D44;
}
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #70A288;
}
h1 {
    font-family: 'Bad Script', cursive;
    font-style: bold;
}
h2 {
    font-family: 'Nixie One', cursive;
    font-style: bold;
}
h1, h2{
    margin: 20px;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    font-family: 'Nixie One', cursive;
    border: 5px groove #04395E;
    height: auto;
    background-color: #D5896F;
    width: 45%;
    padding: 10px;
    
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
label{
    display: inline-block;
    white-space: nowrap;
}
/* .names {
    align-content: center;
} */
input{
    margin: 10px;
}
.demographic {
    flex: wrap;
}
button{
    background-color: #DAB785;
    color: #70A288;
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    margin: 15px;
}