*{
    margin: 0px;
    box-sizing: border-box;
}
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Lora', serif; */
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}
.blue{
    background-color: blue;
}