*{
    margin: 0px;
    box-sizing: border-box;
}
.header{
    padding: 25px;

    text-align: center;
    /* justify-content: center; */
}
h1, h2, .nav{
    color: #F0F7EE;
}
h3, p{
    color: #FFF07C;
}
.nav{
    font-size: .5em;
}
.nav li:hover{
    color: #FFF07C;
}
body {
    background-color: #59A6A4;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
about{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    padding: 20px;
}
.services{
    flex-direction: column;
    margin-bottom: 75px;
    color: #FFF07C;    
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #F0F7EE;
    border-top: 2px solid #FFF07C;
    background-color: #59A6A4;
}