*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom right, blue, whitesmoke, firebrick);
    background-repeat: no-repeat;
    height: 200vh;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: firebrick;
    font: bolder;
    font-size: 110%;
}
button:hover{
    font-size: 110%;
    border-radius: 5px;
    background-color: antiquewhite;
}
h1{
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 35px;
}
h3{
    margin-bottom: 15px;
}
p{
    margin: 5px;
}
input{
    margin: 5px;
}
.list{
    margin-bottom: 65px;
}
.issue{
    border: 10px groove grey;
    margin: 5px;
    padding: 10px;
    background-color: whitesmoke;
}
.up-vote{
    background-color: lightgreen;
    border-radius: 50%;
    margin: 15px;
}
.down-vote{
    background-color: lightcoral;
    border-radius: 50%;
    margin-right: 15px;
}
.delete, .edit{
    background-color: grey;
    border-radius: 10px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: firebrick;
    color: whitesmoke;
    height:50px;
    list-style: none;
}
.footer li{
    text-align: center;
}