*{
    margin:0px;
    box-sizing: border-box;
}
@font-face {
    font-family: StarJedi;
    src: url("./Star_Jedi_Rounded.ttf");
}
body{
    background-image: url("./img/Night_stars.png");
    color:#F2D703;
}
h1{
    font-family: StarJedi;
}
li{
    list-style: none;
    margin: 15px;
}